body:before {
    display: block;
    background-color: #0D337C;
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding: 17px 25px;
    font-size: 15px;
    font-weight: 700;
    bottom: 0;
    right: 0;
    z-index: 999;
}
